PORT=8000
MONGO_URL
CLIENT_URL=http://localhost:5173
JWT_SECRET=poiuytrewq

ADMIN_EMAIL=admin@socialhive.com	
ADMIN_PASSWORD=admin@123

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=

MAILJET_API_KEY=
MAILJET_SECRET_KEY=

GOOGLE_GEMINI_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8000/api/v1/users/google/callback

VITE_AWS_ACCESS_KEY_ID=
VITE_AWS_SECRET_ACCESS_KEY=
VITE_AWS_REGION=
VITE_AWS_BUCKET_NAME=

VIDEOSDK_TOKEN=
